* {
	font-weight: lighter;
}
body {
	text-align: center;
	font-family: sans-serif;
	font-weight: lighter;
}
.pics h6{
	font-family:sans-serif;
	font-weight:lighter;
}
.kagaonse, .kanazawa, .tokyo, .fam, .homePage {
	font-family: sans-serif;
	font-weight: lighter;
}
ul {
	list-style: none;
}
.navbar ul {
	list-style: none;
	text-align: left;
	position:fixed;
	transform:translate(-125%, 90%);
}
.navbar ul li a{
	text-decoration: none;
	color:black;
	font-size: 18px;
}
.navbar ul li a:hover {
	text-decoration: underline;
	color:black;
}
.navbar ul li a:active {
	text-decoration: none;
	color: gray;
}
.navbar {
	position: fixed;
	transform:translate(50% 0%);
	left: 20px;
	border: solid black 2px;
}
.fill {
	width: 90%;
}
.cut40 {
	width: 60%;
}
.peep {
	width: 100%;
}
.peep > .fill {
	width: 80%;
	margin: 5px;
}
.title {
	padding-top: 100px;
}
@media(max-width: 768px) {
	.navbar {

	}
}
.btn {
	background: blue;
	color: white;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}