.MTbackground {
	position: absolute;
	top: 70px;
	left: 0;
	bottom: 45px;
	z-index: 2;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("pictures/marktwainface.png");
	background-size: cover;
	color: white;
}
.headbar {
	padding-top: 12px;
	padding-left: 15px;
	width: 75%;
	display: inline-block;
	font-size: 50px;
	transform: translateY(5%);
}
.navbar {
	padding-top: 12px;
	width: 10%;
	display: inline-block;
}
.navbar a {
	color: black;
}
.vanbar {
	width: 20%;
	display: inline-block;
	padding-bottom: 15px;
	margin-top: 10px; 
}
.vanbar a {
	color: black;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: rgb(0,127,102);
	text-align: center;
}
.l-float {
	padding: 0 6px;
	float: left;
	width: 32.99%;
	display: inline-block;
}
.l-float:hover {
	box-shadow: 5px 5px 5px rgb(200,200,200);
}
.l-float img {
	width: 100%;
}
.r-float {
	padding: 0 6px;
	float: right;
	width: 32.99%;
	display: inline;
}
.r-float:hover {
	box-shadow: 5px 5px 5px rgb(200,200,200);
}
.r-float img {
	width: 100%;
}
.background {
	background: black;
	color: white;
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	text-align: center;
}
.lightbox-bg {
	background: rgba(252,252,252,0.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.lightbox-content {
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index: 5;
	box-shadow: 8px 8px 5px #888888;
	width: 70%;
}
.lightbox-content img {
	width:50%;
	height: 100%;
}
.smaller {
	transform: translate(-50%,-54%);
	-webkit-transform: translate(-50%,-54%);
}
.lightbox-content .blurb {
	background: white;
	color: black;
}
h1 {
	text-align: center;
}
.t-up {
	transform: translateY(-25%);
	-webkit-transform: translateY(-25%);
}
.t-up2 {
	transform: translateY(-70%);
	-webkit-transform: translateY(-70%);
}
.t-up3 {
	transform: translateY(-85%);
	-webkit-transform: translateY(-85%);
}
span {
	text-decoration: underline;
}
.about {
	width: 80%;
	transform: translateX(12%);
	-webkit-transform: translateX(12%);
}




