* {
	background-color: #2FE49F;
	font-family: Verdana;

}
div {	
	width: 100%;
	text-align: center;
}
ul {
	width: 100%;
}
.name {
	text-align: left;
	font-size: 2.5em;
	transform: translate(0,-40%);

}
li {
	text-decoration: none;
	display: inline-block;
	padding-right: 5%;
}
iframe {
	width: 95%;
	height: 700px;
	padding: 0px;
	margin: 0px;
}
.navbar {
	font-size: 1em;
	padding-top: 3%;
	background-image: url("");
}