body {
	background-color: #2FE49F;
	font-family: Verdana;
	text-align: center;
}
img {
	height: 300px;
	width: 300px;
	text-align: center;
}
div {	
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #6495ED;
	height:70px;
	width: 150px;
	margin: auto;
	text-align: center;
}
