<div class="MTbackground">
	<h1>References</h1>
	<ol>
		<li>Twain, Mark. The Adventures of Tom Sawyer (Mark Twain Library) University of California Press. Kindle Edition.</li>
		<li>Twain, Mark. Adventures of Huckleberry Finn, Broadview Press. Kindle Edition.</li>
		<li>Chappell, Warren. "Tom Sawyer and the illustrators." Mark Twain Journal, vol. 42, no. 2, 2004, p. 19+. Literature Resource Center, go.galegroup.com/ps/i.do?p=LitRC&sw=w&u=viva_uva&v=2.1&id=GALE%7CA179134550&it=r&asid=ba7865842901ad128dc7b4f98e873d27. Accessed 3 Dec. 2016.</li>
		<li>David, Beverly R. “The Pictorial Huck Finn: Mark Twain and His Illustrator, E. W. Kemble.” American Quarterly, vol. 26, no. 4, 1974, pp. 331–351. www.jstor.org/stable/2711651.</li>
		<li>http://www.openculture.com/2015/05/norman-rockwell-illustrates-mark-twains-tom-sawyer-huckleberry-finn.html</li>
		<li>http://theredlist.com/media/database/muses/couples/fiction/tom-sawyer-and-huckleberry-finn/021-tom-sawyer-and-huckleberry-finn-theredlist.jpg</li>
		<li>http://theredlist.com/media/database/muses/couples/fiction/tom-sawyer-and-huckleberry-finn/020-tom-sawyer-and-huckleberry-finn-theredlist.jpg</li>
		<li>http://twain.lib.virginia.edu/tomsawye/tomill4.jpg</li>
		<li>https://www.jamescumminsbookseller.com/pictures/medium/12725.jpg</li>
		<li>http://steamboats.com/museum/davet-illustrations15.html</li>
		<li>http://shop.shsmo.org/catalog/product/gallery/id/222/image/321/</li>
		<li>http://betterlivingthroughbeowulf.com/how-life-looks-when-one-is-property/</li>
		<li>http://steveartgallery.se/upload1/file-admin/images/new9/Worth%20Brehm-683359.jpg</li>
		<li>https://onceonatyme.files.wordpress.com/2012/01/tom-huck-cat.jpg</li>
	</ol>
</div>